<div class="container">
  <h1>Contact Me</h1>
  <form class='contact' action='/contact' method='post'>
    <label for='first_name'>First Name: </label>
    <input name='first_name' type='text' />
    <br />
    <label for='last_name'>Last Name: </label>
    <input name='last_name' type='text' />
    <br />
    <label for='email'>Email: </label>
    <input name='email' type='text' />
    <br />
    <label for='comment'>Comments: </label>
    <input name='comment' type='text' />
    <br />
    <input type='submit' value='Send' />
  </form>
</div>



