<div class='half_box1'>
  <% @restaurants.each do |place| %>
    <ul>
      <li><a href="/review/<%= place ["id"] %>"><%= place["restaurant_name"] %></a>, <em><%= place["menu_item"] %></em>, likes (x)
        <!-- <ul>
          <li>tag1</li>
          <li>tag2</li>
        </ul> -->
      </li>
    </ul>
  <% end %>
</div>

<div class='half_box2'>
  <h1>Review a new restaurant: </h1>
    <form class='review' action='/review' method='post'>
    <label for='restaurant_name'>Restaurant Name: </label>
    <input name='restaurant_name' type='text' />
    <br />
    <label for='menu_item'>Menu Item: </label>
    <input name='menu_item' type='text' />
    <br />
    <label for='review'>Review: </label>
    <input name='review' type='textarea' />
    <br />
<!--     <label for='user_id'>Username: </label>
    <input name='user_id' type='text' />
    <br />
    <label for='tag_id'>Tag: </label>
    <input name='tag_id' type='text' />
    <br /> -->
    <input type='submit' value='Submit' />
  </form>
</div>




