<!doctype html>
<html>
<head>
  <link href="../css/style.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  <title>MealPass Review Forum</title>
</head>
<body>
  <div class="wrapper">
    <div class="header clearfix">
      <h1>MEALPASS REVIEW FORUM</h1>
      <ul class="main_navigation">
        <li><a href="/signup">Join</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/dashboard">Restaurants</a></li>
        <li><a target="_blank" href="https://mealpass.com/">MealPass</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>

  <div class="right_column">
    <div class="faves">
    </div>
    <div class="tags">
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>

  <div class="footer clearfix">
      <p>&copy; 2016 Alli Cummings</p>
      <ul class="footer_navigation">
        <li><a href="/signup">Join</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/dashboard">Restaurants</a></li>
        <li><a target="_blank" href="https://mealpass.com/">MealPass</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
</body>
</html>
<script src="../js/jquery.js" type="text/javascript"></script>
<script src="../js/script.js" type="text/javascript"></script>


