 a {
  text-decoration: none;
  color: darkcyan;
}

a:hover {
  color: #003333;
}

li {
  margin-top: 1rem;
  margin-bottom: 0px;
}
div {
 /* /*  margin: auto;
  margin-top: 20px;*/
/*   border: 3px solid darkcyan; */
  font-family: 'Droid Sans', sans-serif;
  font-size: 14px;
/*   background-color: lightcyan; */
  /*color: black; */ */
}

/* div.box {
  margin-top: 45px;
} */

div.box {
  border-top: 3px solid paleturquoise;
}

form.review {
  margin-top: 20px;
}

h1 {
  display: inline-block;
  margin-top: 20px;
  font-size: 34px;
  margin-bottom: 0px;
  padding-bottom: 10px;
}

h2 {
  font-size: 26px;
  display: inline-block;
  float: left;
  margin-top: 10px;
  margin-bottom: 0px;
}

h3 {
  font-size: 18px;
/*   font-style: italic; */
  margin-top: 25px;
  margin-bottom: 0px;
}

h4 {
  margin-top: 20px;
  font-size: 20px;
  margin-bottom: 0px;
}

textarea {
  width: 100%;
}

span.name {
  color: #CC0066;
  font-style: italic;
}

/* div.restos {
  position: relative;
  margin-top: 20px;
} */

/* ul.comments {
  margin-top: 20px;
} */
/* Footer */

footer {
  border-top: 8px solid darkcyan;
/*   padding: 30px 30px 120px 30px; */
}

footer p {
  float: left;
}

ul.footer_navigation {
  float: right;
}

ul.footer_navigation a {
  padding: 6px;
}

ul.footer_navigation li {
  display: inline-block;
  margin-right: 8px;
}

ul.footer_navigation li a {
  text-decoration: none;
}

ul.footer_navigation li a:hover {
  background: darkcyan;
  color: lightcyan;
  text-decoration: none;
}

ul.main_navigation {
  float: right;
  padding-bottom: 10px;
  margin: 0;
  margin: 30px 0 0 0;
}

ul.main_navigation li {
  display: inline-block;
  font-size: 16px;
  position: relative;
}

ul.main_navigation a {
  font-family: "Georgia";
  font-style: italic;
  color: darkcyan;
  text-decoration: none;
  display: inline-block;
  padding: 6px;
}

ul.main_navigation a:hover,
ul.main_navigation a.hover {
  background: darkcyan;
  color: lightcyan;
}


header {
  border-bottom: 8px solid darkcyan;
}


/*TABLE */
table {
  margin-top: 5px;
}

th {
  border-bottom: 3px solid paleturquoise;
  font-size: 12px;
  font-weight: bolder;
  /* padding: 0px; */
}

th:first-child, td:first-child, td:last-child {
  padding-left: 5px;
  padding-right: 5px;
}
tr.row {
  padding: 8px;
  border-bottom: 0px;
}

td {
  padding-left: 5px;
  padding-right: 5px;
  padding: 8px;
  border-bottom: none;
  font-size: 12px;
}

tr:hover {
  background-color: darkcyan;
  color: paleturquoise;
}

a.table {
  text-decoration: none;
/*   color: darkcyan; */
}

a.table:hover {
  color: paleturquoise;
}

p.contact_submit {
  margin-top: 50px;
  height: 200px;
  font-size: 20px;
}

input[type="submit"]:hover {
  background-color: darkcyan;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid darkcyan;
}

